.header{
  background-color: grey;
  height: 40px;
  line-height: 40px;
  padding: 5px;
  display: flex;
  margin-bottom: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); /* Adds the shadow */
}
.app-title{
  font-weight: bold;
  font-size: 2em;
  color: white;
  flex: 1;
  margin-left: 5px;
}


@media screen and (max-width: 480px) {
  .header {
    margin-left: -5px;
  }
}
