<div class="row">
  <div class="controls">

    <div class="control" (click)="toggleAnnotate()"><span class="material-icons"
      [class.annotate]="sudokuService.annotateEnabled()"
      style="margin-top:5px;">edit</span></div>
    </div>

    <div class="control" (click)="click(0)"><span class="material-icons" style="margin-top:5px">delete</span></div>

    <div class="spacer"></div>
    <div class="difficulty">
      Difficulty: {{difficulty}}
    </div>
    <div class="errors">
      Errors: {{errors}}
    </div>
  </div>
  <div class="grid-container">
  @for(c of controls; track $index;){
    <div class="control" (click)="click(c)">{{c}}</div>
  }
</div>

