:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

app-sudoku-grid {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

app-header{
  width: 100%;
}

